accelerate==1.13.0
datasets==4.8.5
diffusers==0.38.0
einops==0.8.2
ftfy==6.3.1
huggingface_hub==1.7.2
imageio==2.37.3
imageio-ffmpeg==0.6.0
modelscope==1.37.1
numpy==1.26.4
pandas==2.3.3
peft==0.19.1
pillow==12.1.1
protobuf==7.35.0
safetensors==0.8.0rc1
sentencepiece==0.2.1
tokenizers==0.22.2
transformers==5.9.0
xformers==0.0.29.post1
